#eventContainer {
    padding: 10px;
    width: 250px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    text-align: center;
  }

  #eventContainer img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  #eventContainer h2 {
    margin-top: 10px;
    font-size: 20px;
  }

  #eventContainer p {
    margin: 5px 0;
  }
  .event-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  .event-button:hover {
    background-color: #45a049;
  }

  .event-button:active {
    background-color: #3e8e41;
  }
  .event-card {
    width: 300px;
    display: block;
    margin: 10px;
    
    align-items: center;
    margin-bottom: 20px;
    padding: 50px;
    border: 1px solid #6b6565;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(18, 5, 5, 0.1);
  }

  .event-card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .event-card h2 {
    margin-bottom: 5px;
  }

  .event-card p {
    margin: 5px 0;
  }

  .event-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  .event-button:hover {
    background-color: #45a049;
  }

  .event-button:active {
    background-color: #3e8e41;
  }


  #formDisplay{
    min-height: 100vh;
  }



.popup .overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 550px;
  height: 480px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50px;
}

.popup .close-btn{
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
  background: #222;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}


/* code imported from ui verse.com */

.modal {
  width: fit-content;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  max-width: 450px;
  margin-left: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.payment--options {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: 33% 34% 33%;
  gap: 20px;
  padding: 10px;
}

.payment--options button {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  padding: 0;
  border: 0;
  outline: none;
}

.payment--options button svg {
  height: 18px;
}

.payment--options button:last-child svg {
  height: 22px;
}

.separator {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #8B8E98;
  margin: 0 10px;
}

.separator > p {
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin: auto;
}

.separator .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
  margin: auto;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.split input {
  width: 100%;
}

.input_label {
  font-size: 10px;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .input_field[type=number] {
  -moz-appearance: textfield;
} */

/* Search bar */
#searchInput{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  width:200px;
  
}

#searchInput:hover{
  cursor: pointer;
  
}


    /* Basic button styling */
    input[type="submit"] {
      background-color: #4CAF50; /* Set the background color */
      color: white; /* Set the text color */
      padding: 10px 20px; /* Add padding around the text */
      border: none; /* Remove default border */
      cursor: pointer; /* Change cursor to a hand when hovering over the button */
      border-radius: 2px; /* Add rounded corners */
      font-size: 16px; /* Set font size */
    }

    /* Styling when hovering over the button */
    input[type="submit"]:hover {
      background-color: #45a049; /* Change background color when hovering */
    }

    /* Styling when the button is clicked */
    input[type="submit"]:active {
      background-color: #53c057; /* Change background color when clicked */
    }


 
