body{
    /* background-color: #3fa831 */
    /* background: url(https://cssgradient.io/);
    background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(63,168,49,1) 100%); */
background-color: rgb(103, 214, 88);

}
img{
    border-radius: 30%;
}



/* videos */
video{
 
    display: block;
    margin: 0 auto;
    align-items: center;
    width: 1050px;
    border:solid whitesmoke;
    border-radius:12px;
}


#myVideo2{
    display: block;
    margin: auto;
    align-items: center;
    width: 1050px;
    border:solid whitesmoke;
    border-radius: 12px;
}


#myVideo3{
   display: block;
    margin: 0 auto;
    align-items: center;
    width: 800px;
    border: 55px;  
    border-radius:45% ;    
   
}
#myVideo4{
    /* display: block;
    margin: 0 auto;
    align-items: center;
    width: 800px;
    border: 55px;  
    border-radius:5% ; */
    display: block;
    margin: auto;
    align-items: center;
    width: 1050px;
    border:solid whitesmoke;
    border-radius: 12px;

}   



/* nav bar */
li{
   border: solid white; 
   border-radius: 1px;
   border-color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: rgb(34,193,195);
 align-items: center;
 

   font-size: 29px;
   
}


li:hover{
    background-color:greenyellow;
}


/* About us Heading */
header{
    text-align: center;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 29px;
   color: white;
display: block;
padding: 20px 16px;
border: solid white ;
border-width: 6px;
border-radius: 2px;
background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(63,168,49,1) 100%);
}

   /* Welcoming message */

   h2{
text-align: center;
align-content: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 29px;
color: white;
display: block;
text-decoration:none;
padding: 20px 16px;
padding: 20px 16px;
/* border background of heading */
background: url(https://cssgradient.io/);
background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(63,168,49,1) 100%);

border: solid white;
border-width: 6px;
border-radius: 2px;
}


p{
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 29px;
    color: white;
    padding: 20px 16px;
border: solid white;
border-width: 5px;
border-radius: 2px;
padding: 20px 16px;
/* border background of heading */
background: url(https://cssgradient.io/);
background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(63,168,49,1) 100%);
    
}

/* Button styling*/
button{
border: solid white;
border-radius:50% ;
padding: 20px 20px;
background-color: rgb(34,193,195);
color: white;
size: 70px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
margin: auto;
display: block;
text-decoration: none;

}
/* when button is hovered over */
button:hover{
cursor: pointer;
background-color:greenyellow;
}

/* removes underline from anchor tag */
a{
    text-decoration: none;
}


body{height: 200vh;}